.grid {
    width: 95%;
}

.gridContainer {
    display: grid;
    background-color: white;
    border-radius: 8px;
    overflow-x: auto;  /* Enables horizontal scrolling */
    overflow-y: auto;  /* Enables vertical scrolling */
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #888888;
}

.gridRow {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    border-bottom: 1px solid #ddd;
    text-align: center;
    align-items: center;
}

.gridRowItem {
    padding: 12px;
    overflow: hidden;
}

.gridHeader {
    background-color: #324F7F;
    color: white;
    font-weight: 500;
    padding: 12px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Alternate row colors */
.gridRow:nth-child(odd):not(:first-child) {
    background-color: #F0F9FF;
}

.status {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    color: #0A0A6B;
    text-overflow: ellipsis;
}

.accepted{
    background: #7FF77F;
}

.attempts{
    background: #F08383;
}

/* Responsive */
@media (max-width: 915px) {
    .grid {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .grid {
        font-size: 11px;
    }
}

@media (max-width: 586px) {
    .grid {
        font-size: 10px;
    }
}
