.input {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #F5EFE7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 400px;
    border-radius: 10px;
}

/* General Container */
.info {
    display: flex;
    flex-direction: column;
   
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 53.6%;
    /* background-color: red; */
}

/* Trophy & Tag */
.tag {
    /* background-color: green; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag img {
    max-width: 70px;
}

.tag p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0023ff;
}

/* User Details */
.userdetails {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 18px;
    padding-left: 35px;
}

.links {
    color: black;
    text-decoration: underline;
}

/* Profile Section */
.photodetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Profile Image */
.profileimage {
    margin-top: 10px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    max-width: 100%;
}

.photochangedetails {
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choosephoto:hover,
.uploadphoto:hover,
.removephoto:hover {
    border-bottom: 1px solid #213555;
}

.uploadphoto,
.removephoto,
.choosephoto {
    color: #213555;
    cursor: pointer;
    font-size: 12px;
    border: none;
    background-color: #F5EFE7;
}

/* ----- Responsive Design ----- */
@media (max-width: 753px) {
    .profileimage {
        max-width: 200px;
        max-height: 200px;
    }
    .container {
        line-height: 10px;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .container {
        width: 500px;
        align-items: center;
        padding: 10px;
        height: 350px;
    }

    .info {
        width: 100%;
        font-size: 12px;
        line-height: 10px;
    }
    .tag img {
        max-width: 50px;
    }
    .profileimage {
        height: auto;
        width: 90%;
        max-width: 200px;
    }

    .photochangedetails {
        width: 100%;
        justify-content: space-evenly;
        padding-right: 36px;
    }

    .tag p {
        font-size: 1.2rem;
    }
}

@media (max-width: 300px) {
    .container {
        padding: 10px;
        width: 95%;
    }

    .info {
        padding: 10px;
    }

    .profileimage {
        max-width: 150px;
    }

    .tag p {
        font-size: 1rem;
    }

    .uploadphoto,
    .removephoto,
    .choosephoto {
        font-size: 10px;
    }
}
